node_modules
dist
.DS_Store
.github
server/public
vite.config.ts.*
*.tar.gz
.env
.env.development
token_data.json
.github
.gitlab
server/workflow/src/data
token_data.json
.vscode
apps/chat-app/dist
apps/chat-app/dist-embed
apps/cobol-app/dist
apps/java-app/dist
apps/modernization-app/dist
apps/shell/dist
apps/shell/public/chat-app/assets
./server.log
coverage
examples
test
docs
.vscode
*.tgz
*.zip
src/data/coding/output
src/data/coding/output/application.log
package-lock.json
.venv
backend/__pycache__
backend/migrations/__pycache__
backend/migrations/versions/__pycache__
backend/tests/__pycache__
backend/workflow/__pycache__
backend/workflow/src/data
backend/workflow/src/data/coding/output
backend/workflow/src/data/coding/output/application.log
backend/workflow/src/data/token_data.json
backend/workflow/src/data/.venv
backend/workflow/.venv
backend/workflow/src/.venv
backend/.env
backend/app/__pycache__
backend/app/routers/__pycache__

